<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    {% load bootstrap3 %}
    {% load static %}
    <link href="{% static "css/simple-sidebar.css" %}" rel="stylesheet">
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Todo App
                    </a>
                </li>
                <li>
                    <a href="{% url 'id.views.todo.home' %}">Inicio</a>
                </li>
                <li>
                    <a href="{% url 'id.views.todo.create' %}">Crear Nueva Nota</a>
                </li>
                <li>
                    <a href="{% url 'id.views.todo.reports' %}">Reportes</a>
                </li>
                <li>
                    <a href="{% url 'id.views.profile' %}">Perfil</a>
                </li>
                <li>
                    <a href="{% url 'id.views.logout' %}">Cerrar Sesión</a>
                </li>
                
                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>{% block subtitle %}{% endblock %}</h1>
                <p>{% block content %}{% endblock %}</p>
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Abrir/Cerrar Menu</a>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>