{% extends "todo/base.html" %}

{% block subtitle %}Crear Nueva Nota{% endblock %}
{% block content %}

<form method="post" action = "{% url 'id.views.todo.create' %}" novalidate>
  {% csrf_token %}
  <table>
    {{ form.as_table}}
  </table>
  <button type="submit">Submit</button>
</form>
{% endblock content %}
