{% extends "todo/base.html" %}

{% block subtitle %}Listado de Mis ToDos{% endblock %}
{% block content %}


{% if todo %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
        <h3>{{ todo.title }}</h3>

                <div id="content">
                    {{ todo.content}}
                </div>

            Creada por {{ todo.user.username }}
        </div>
    </div>
{% else %}
    <p>No Tienes Acceso a esta nota.</p>
{% endif %}
{% endblock content %}
