{% extends "todo/base.html" %}

{% block subtitle %}Listado de Mis ToDos{% endblock %}
{% block content %}

<h3>Mis Notas</h3>

{% if private_todos %}
    <ul>
    {% for todo in private_todos %}
        <li><a href="{% url 'id.views.todo.details' note_id=todo.id %}">{{ todo.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Tienes Notas.</p>
{% endif %}
<h3>Todos Públicos</h3>

{% if public_todos %}
    <ul>
    {% for todo in public_todos %}
        <li><a href="{% url 'id.views.todo.details' note_id=todo.id %}">{{ todo.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Hay Notas públicas.</p>
{% endif %}
{% endblock %}