{% extends "todo/base.html" %}

{% block subtitle %}Reportes{% endblock %}
{% block content %}

<h3>Reporte de Notas</h3>


    <ul>
        <li>Total de notas : {{ all_notes_count }}</a></li>
        <li>Mis notas (privadas) : {{ my_private_notes_count }}</a></li>
        <li>Mis notas (públicas) : {{ my_public_notes_count }}</a></li>
        <li>Notas públicas : {{ public_notes_count }}</a></li>
        <li>Notas privadas : {{ private_notes_count }}</a></li>
    </ulr
{% endblock %}