{% extends 'userlogin/base.html' %}
{% block title %}
Please log in
{% endblock %}
{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="login-form" method="post" 
                  action="{% url 'id.views.auth' %}">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><label for="id_title">Iniciar Sesión</label></td>
                        <td><label for="id_title"><a href="{% url 'id.views.register' %}">Registro</a></label></td>
                    </tr>
                    <tr>
                        <td><label for="id_username">Usuario</label></td>
                        <td><input id="id_username" name="username" 
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Contraseña</label></td>
                        <td><input id="id_password" name="password" 
                                   type="password" class="form-control"></td>
                    </tr>
                </table>
                {% if form.errors %}
                    <p class=" label label-danger">
                        Your username and password didn't match. 
                        Please try again.
                    </p>
                {% endif %}

                <input type="submit" value="Iniciar Sesión" 
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
{% endblock content %}