{% extends "todo/base.html" %}
{% block title %}
Update Profile
{% endblock %}

{% block subtitle %}Actualizar Perfil{% endblock %}
{% block content %}

<form method="post" action = "{% url 'id.views.profile' %}" novalidate>
  {% csrf_token %}
  <table>
    {{ form.as_table}}
  </table>
  <button type="submit">Submit</button>
</form>
{% endblock content %}
