{% extends 'userlogin/base.html' %}
{% block title %}
Please register
{% endblock %}
{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="login-form" method="post" 
                  action="{% url 'id.views.register' %}">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><label for="id_title"><a href="{% url 'id.views.auth' %}">Iniciar Sesión</a></label></label></td>
                        <td><label for="id_title">Registro</td>
                    </tr>
                    <tr>
                        <td><label for="id_username">Nombre de Usuario</label></td>
                        <td><input id="id_username" name="username" 
                                   type="text" class="form-control" value=""></td>
                    </tr>
                    <tr>
                        <td><label for="id_email">Email</label></td>
                        <td><input id="id_email" name="email" 
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_name">Nombre</label></td>
                        <td><input id="id_name" name="first_name" 
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_lastname">Apellido</label></td>
                        <td><input id="id_lastname" name="last_name" 
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Contraseña</label></td>
                        <td><input id="id_password" name="password1" 
                                   type="password" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_confirm_password">Confirmar Contraseña</label></td>
                        <td><input id="id_confirm_password" name="password2" 
                                   type="password" class="form-control"></td>
                    </tr>
                </table>
                {% if form.errors %}
                    Please correct the error{{ f.errors|pluralize }} below.
                        {{ form.errors }}
                {% endif %}

                <input type="submit" value="Registrar" 
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
{% endblock content %}